.breadcrumbs__list {
    display: flex;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__link {
    font-size: 14px;
    color: #9A9A9A;
}

.breadcrumbs__item--active {
    font-weight: bold;
}

.breadcrumbs__item::after {
    content: "/";
    color: #9A9A9A;
}

.breadcrumbs__item:last-child::after {
    display: none;
}

.breadcrumbs__item {
    padding-left: 2px;
}
.breadcrumbs__item:first-child {
    padding-left: 0px;
}
.breadcrumbs__item:after {
    padding-left: 2px;
}