.social__item {
    margin-right: 11px;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col--align--right {
    justify-content: flex-end;
}

.social__list {
    display: flex;
    justify-content: space-between;
    margin-right: 72px;
}

.social__link {
    display: block;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
    transition: .3s;

}

.social__item:last-child {
    margin-right: 0;
}

.contacts__text--footer {
    font-size: 11px;
    text-decoration: none;
    margin-bottom: 4px;
    color: #9A9A9A;
}
/* 
.social__link::before, .social__link::after { 
    content: '';
    display: block;
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: url('/air-asia/img/css_sprites.png');
    transition: opacity .3s;
}


.social__link::before {
    opacity: 1; 
}
.social__link:hover::before {
    opacity: 0; 
}
.social__link::after {
    opacity: 0; 
}
.social__link:hover::after {
    opacity: 1; 
}

.social__link--telegram::before {
    background-position: -122px -66px;
}

.social__link--telegram::after {
    background-position: -122px -10px; 
}

.social__link--vk::before {
    background-position: -10px -122px; 
}

.social__link--vk::after {
    background-position: -66px -122px; 
}

.social__link--fb::before {
    background-position: -10px -10px; 
}

.social__link--fb::after {
    background-position: -66px -10px; 
}

.social__link--instagram::before {
    background-position: -10px -66px; 
}

.social__link--instagram::after {
    background-position: -66px -66px; 
} */

.social__item--icon--telegr .social__link {
    background: url("/air-asia/img/telegram.png");
}


.social__item--icon--telegr .social__link:hover {
    background-image: url(/air-asia/img/t.png);
    transition: .3s;
}

.social__item--icon--vk .social__link {
    background: url("/air-asia/img/vk.png");
}


.social__item--icon--vk .social__link:hover {
    background-image: url(/air-asia/img/vkhov.png);
}

.social__item--icon--fb .social__link {
    background: url("/air-asia/img/f.png");
}


.social__item--icon--fb .social__link:hover {
    background-image: url(/air-asia/img/fhov.png);
}

.social__item--icon--instagram .social__link {
    background: url("/air-asia/img/in.png");
}


.social__item--icon--instagram .social__link:hover {
    background-image: url(/air-asia/img/inhov.png);
} 

.footer-container__content {
    border-top: 1px solid #353538;
    padding-top: 48px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1141px;
    padding-bottom: 48px;
    margin-top: auto;
}

.footer__logo__img {
    width: 98px;
    margin-right: 66px;
}
