.title--fire {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 53px;
}

.offers__item {
    min-height: 449px;
    width: 362px;
    background-color: #fff;
    color: #000;
    display: inline-block;
    margin-right: 23px;
    border-radius: 4px;
}

.offers__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 21px;
}

.offers__content {
    padding: 24px;
}

.offers__features {
    margin-left: 4px;
    margin-bottom: 20px;
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__feature {
    display: inline-block;
    vertical-align: top;
    margin-right: 26px;
}

.offers__feature-img, .offers__feature-text {
    display: inline;
}

.offers__feature-img {
    margin-right: 9px;
}

.offers__text {
    font-size: 14px;
    color: #303030;
    line-height: 1.5;
    margin-bottom: 22px;
}

.offers__feature-text {
    color: #666;
    vertical-align: top;
}

.offers {
    margin-bottom: 126px;
}