.tours__content {
    width: 511px;
}

.tours__title {
    font-weight: bold;
    font-size: 72px;
    margin-bottom: 28px;
}

.tours__text {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 31px;
}

.tours {
    margin-bottom: 245px;
}