.tours .container {
    width: 511px; 
    height: 100%;
    margin-left: 189px;
    display: inline-block;
}

.tours__title, .tours__text {
    position: absolute;
}

.tours__title {
    font-weight: bold;
    font-size: 72px;
}

.tours__text {
    font-weight: normal;
    font-size: 18px;
    top: 222px;
}

.tours--button {
    margin-top: 278px;
}

.tours {
    margin-bottom: 245px;
}